params {
    fastq_dir = "${projectDir}/data"
    output_dir = "${projectDir}/result"
    // output_dir = "${projectDir}/result_full_ref"
    whitelist = "${projectDir}/ref/CellRanger/3M-february-2018.txt"
    genome_dir = "${projectDir}/ref/STAR_genomeDir"
    // genome_dir = "/projects/rli_prj/large_files/cellranger_dataset/refdata-gex-GRCh38-2024-A/star"
    threads = 8
    UMAP_script = "${projectDir}/code/draw_UMAP.R"
    PCA_script = "${projectDir}/code/draw_PCA.R"
    seurat_obj_script = "${projectDir}/code/seurat_obj.R"
    GTF_FILE="${projectDir}/ref/chr1_chr2_chr3.gtf"
    ref_dir="${projectDir}/ref"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = 'singularity_cache'
}


process {
    withName:FASTQC {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }

    withName:MULTIQC {
        container = 'ewels/multiqc:latest'
    }

    withName:download {
        container = 'jackyyiu0810/curl:v0.1'
    }

    withName:prep_ref_dir {
        container = 'ubuntu:16.04'
    }
    // debian:stretch

    withName:gen_Generate {
        container = 'quay.io/biocontainers/star:2.7.9a--h9ee0642_0'
        // container = 'zavolab/star:2.7.1a'
    }

    withName:STARsolo {
        container = 'quay.io/biocontainers/star:2.7.9a--h9ee0642_0'
        // container = 'zavolab/star:2.7.1a'
    }

    withName:CompressFiles {
        container = 'pvtmert/linux:3.18.140'
    }

    withName:seurat_obj {
        container = 'satijalab/seurat'
    }

    withName:Draw_UMAP {
        container = 'satijalab/seurat'
    }
    
    withName:Draw_PCA {
        container = 'satijalab/seurat'
    }
}
