params {
    fastq_dir = "/projects/rli_prj/CPSC501/project/data"
    output_dir = "/projects/rli_prj/CPSC501/project/result"
    // whitelist = "/projects/rli_prj/CPSC501/project/ref/CellRanger/3M-february-2018.txt"
    // genome_dir = "/projects/rli_prj/CPSC501/project/ref/STAR_genomeDir"
    whitelist = "/projects/rli_prj/large_files/3M-february-2018.txt"
    genome_dir = "/projects/rli_prj/large_files/cellranger_dataset/refdata-gex-GRCh38-2024-A/star"
    threads = 4
    UMAP_script = "/projects/rli_prj/CPSC501/project/code/draw_UMAP.R"
    PCA_script = "/projects/rli_prj/CPSC501/project/code/draw_PCA.R"
    seurat_obj_script = "/projects/rli_prj/CPSC501/project/code/seurat_obj.R"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = 'singularity_cache'
}


process {
    withName:FASTQC {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName:MULTIQC {
        container = 'ewels/multiqc:latest'
    }
    withName:STARsolo {
        container = 'quay.io/biocontainers/star:2.7.9a--h9ee0642_0'
    }
    withName:CompressFiles {
        container = 'pvtmert/linux:3.18.140'
    }
    withName:seurat_obj {
        container = 'satijalab/seurat'

    }
    withName:Draw_UMAP {
        container = 'satijalab/seurat'
    }
    withName:Draw_PCA {
        container = 'satijalab/seurat'
    }
}
